/* landing section */
.landing{
    background-image: url(../images/service.jpg); /* error */
    background-size: cover;
    height: calc(100vh - 80px);
    position: relative;
    opacity: 150%;
}
.landing .intro-text{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 380px;
    max-width: 100%;
    padding: 20px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: rgba(248, 248, 248, 0.40);
}
.landing .intro-text h1{
    margin: 0;
    font-size: 50px;
    font-weight: bold;
}
.landing .intro-text h1 a{
    text-decoration: none;
    color: var(--green);
}
.landing .intro-text h1 a:hover{
    text-decoration: underline;
}
.landing .intro-text p{
    font-size: 19px;
    line-height: 1.8;
    width: 380px;
    max-width: 100%;
    color: black;
}
/* medical section */
.medical .box{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.medical .box .image{
    width: 70%;
}
.medical .box .image img{
    width: 100%;
}
.medical .box .text{
    width: 60%;
    margin-left: 20px;
}
.medical .box .text h2{
    font-size: 4.5rem;
    color: var(--black);
    padding: .5rem 0;
    text-shadow: var(--text-shadow);
}
.medical .box .text p{
    font-size: 1.7rem;
    color: var(--light-color);
    margin: 7px;
}
/* Companion section */
.Companion .box{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.Companion .box .image{
    width: 70%;
}
.Companion .box .image img{
    width: 100%;
}
.Companion .box .text{
    width: 60%;
    margin-left: 20px;
}
.Companion .box .text h2{
    font-size: 4.5rem;
    color: var(--black);
    padding: .5rem 0;
    text-shadow: var(--text-shadow);
}
.Companion .box .text p{
    font-size: 1.7rem;
    color: var(--light-color);
    margin: 7px;
}
/* outdoor section */
.outdoor .box{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.outdoor .box .image{
    width: 70%;
}
.outdoor .box .image img{
    width: 100%;
}
.outdoor .box .text{
    width: 60%;
    margin-left: 20px;
}
.outdoor .box .text h2{
    font-size: 4.5rem;
    color: var(--black);
    padding: .5rem 0;
    text-shadow: var(--text-shadow);
}
.outdoor .box .text p{
    font-size: 1.7rem;
    color: var(--light-color);
    margin: 7px;
}
/* media screens */
@media (max-width: 768px) {
    .medical .box{
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
        gap: 20px;
    }
    .medical .box .text{
        width: 90%;
    }
    .Companion .box{
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
        gap: 20px;
    }
    .Companion .box .text{
        width: 90%;
    }
    .outdoor .box{
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
        gap: 20px;
    }
    .outdoor .box .text{
        width: 90%;
    }
}